Repository TEAM-README/Readme-AOS, pull requests merged in 2022-08, with the labels that each got.

#81 [feat] Login / 네이버 로그인 로직 붙이기 코드리뷰 반영 (#62)
  app/build.gradle.kts
  app/src/main/java/com/readme/android/di/RetrofitModule.kt
  core-ui/src/main/java/com/readme/android/core_ui/base/BindingActivity.kt
  data/src/main/java/com/readme/android/data/local/datasource/LocalPreferenceUserDataSourceImpl.kt
  data/src/main/java/com/readme/android/data/remote/model/response/LoginResponse.kt
  data/src/main/java/com/readme/android/data/repository/LoginRepositoryImpl.kt
Labels: 창환🐷, pullRequest🔥, fix

#83 [feat] HomeFeed / 서버연동 (#82)
  app/src/main/java/com/readme/android/di/RemoteDataSourceModule.kt
  app/src/main/java/com/readme/android/di/RepositoryModule.kt
  app/src/main/java/com/readme/android/di/RetrofitServiceModule.kt
  app/src/main/java/com/readme/android/navigator/MainNavigatorImpl.kt
  core-ui/src/main/java/com/readme/android/core_ui/ext/ContextExtension.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteHomeFeedDataSource.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteHomeFeedDataSourceImpl.kt
  data/src/main/java/com/readme/android/data/remote/model/response/Book.kt
  data/src/main/java/com/readme/android/data/remote/model/response/HomeFeedResponse.kt
  data/src/main/java/com/readme/android/data/remote/model/response/NaverBookSearchResponse.kt
  data/src/main/java/com/readme/android/data/remote/model/response/RecentReadResponse.kt
  data/src/main/java/com/readme/android/data/remote/model/response/User.kt
  data/src/main/java/com/readme/android/data/remote/service/FeedService.kt
  data/src/main/java/com/readme/android/data/repository/FeedRepositoryImpl.kt
  domain/src/main/java/com/readme/android/domain/entity/BookInfo.kt
  domain/src/main/java/com/readme/android/domain/entity/UserInfo.kt
  domain/src/main/java/com/readme/android/domain/entity/response/DomainHomeFeedResponse.kt
  domain/src/main/java/com/readme/android/domain/repository/FeedRepository.kt
  feature/book-search/src/main/java/com/readme/android/book_search/BookListRecyclerViewAdapter.kt
  feature/main/src/main/java/com/readme/android/main/ui/home/FilterBottomSheetFragment.kt
  feature/main/src/main/java/com/readme/android/main/ui/home/HomeFragment.kt
  feature/main/src/main/java/com/readme/android/main/viewmodel/MainViewModel.kt
  feature/main/src/main/res/layout/fragment_home.xml
  feature/main/src/main/res/layout/layout_home_feed_empty.xml
  feature/main/src/main/res/layout/layout_mypage_feed_empty.xml
  shared/src/main/res/values/strings.xml
Labels: 효림🐇, pullRequest🔥, feat

#87 [refactor] 네이버 로그인 코드 간소화 #85
  feature/auth/src/main/java/com/readme/android/auth/ui/LoginActivity.kt
  feature/auth/src/main/java/com/readme/android/auth/ui/LoginViewModel.kt
  feature/auth/src/main/java/com/readme/android/auth/ui/socialloginmanager/NaverLoginManager.kt
Labels: 창환🐷, pullRequest🔥, refactor

#88 [feat] HomeHeaderAdapter / 카테고리 필터 상황에 따른 textView 분기처리 (#84)
  feature/main/src/main/java/com/readme/android/main/ui/home/HomeFragment.kt
  feature/main/src/main/java/com/readme/android/main/ui/home/HomeHeaderAdapter.kt
  feature/main/src/main/java/com/readme/android/main/viewmodel/MainViewModel.kt
  feature/main/src/main/res/layout/layout_home_feed_empty.xml
Labels: 효림🐇, pullRequest🔥, feat

#92 [feat] detailActivity / 뷰 전환로직 + 서버통신 (#91)
  app/src/main/java/com/readme/android/di/RemoteDataSourceModule.kt
  core-ui/src/main/java/com/readme/android/core_ui/util/BindingAdapters.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteFeedDataSource.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteFeedDataSourceImpl.kt
  data/src/main/java/com/readme/android/data/remote/model/response/Book.kt
  data/src/main/java/com/readme/android/data/remote/model/response/DetailFeedResponse.kt
  data/src/main/java/com/readme/android/data/remote/model/response/Feed.kt
  data/src/main/java/com/readme/android/data/remote/model/response/HomeFeedResponse.kt
  data/src/main/java/com/readme/android/data/remote/service/FeedService.kt
  data/src/main/java/com/readme/android/data/repository/FeedRepositoryImpl.kt
  domain/src/main/java/com/readme/android/domain/entity/FeedInfo.kt
  domain/src/main/java/com/readme/android/domain/entity/response/DomainDetailFeedResponse.kt
  domain/src/main/java/com/readme/android/domain/entity/response/DomainHomeFeedResponse.kt
  domain/src/main/java/com/readme/android/domain/repository/FeedRepository.kt
  feature/book-search/src/main/java/com/readme/android/book_search/BookListRecyclerViewAdapter.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/com/readme/android/main/ui/adapter/FeedAdapter.kt
  feature/main/src/main/java/com/readme/android/main/ui/feed/FeedDetailActivity.kt
  feature/main/src/main/java/com/readme/android/main/ui/home/HomeFragment.kt
  feature/main/src/main/java/com/readme/android/main/ui/mypage/MyPageFragment.kt
  feature/main/src/main/java/com/readme/android/main/viewmodel/DetailFeedViewModel.kt
  feature/main/src/main/java/com/readme/android/main/viewmodel/MainViewModel.kt
  feature/main/src/main/res/layout/activity_feed_detail.xml
  feature/main/src/main/res/layout/fragment_home.xml
  feature/main/src/main/res/layout/item_feed.xml
  shared/build.gradle.kts
  shared/src/main/res/layout/layout_book_information.xml
Labels: 효림🐇, pullRequest🔥, feat

#97 [feat] Feed_Write / FeedWriteActivity 기초 화면 이동관계 및 버튼 조건 정리 (#96)
  feature/write-feed/src/main/java/com/readme/android/write_feed/FeedWriteActivity.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/ChooseCategoryFragment.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/FeelingFragment.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/ImpressiveSentenceFragment.kt
  feature/write-feed/src/main/res/layout/activity_feed_write.xml
  feature/write-feed/src/main/res/layout/fragment_choose_category.xml
  feature/write-feed/src/main/res/layout/fragment_feeling.xml
  feature/write-feed/src/main/res/layout/fragment_impressive_sentence.xml
Labels: 창환🐷, pullRequest🔥, feat

#93 [feat] home / 더보기 버튼 눌렀을때 로직 작성 (#90)
  app/src/main/AndroidManifest.xml
  core-ui/src/main/java/com/readme/android/core_ui/util/BindingAdapters.kt
  data/src/main/java/com/readme/android/data/remote/model/response/Book.kt
  data/src/main/java/com/readme/android/data/remote/model/response/HomeFeedResponse.kt
  data/src/main/java/com/readme/android/data/remote/service/FeedService.kt
  data/src/main/java/com/readme/android/data/repository/FeedRepositoryImpl.kt
  domain/src/main/java/com/readme/android/domain/repository/FeedRepository.kt
  feature/main/src/main/AndroidManifest.xml
  feature/main/src/main/java/com/readme/android/main/ui/adapter/FeedAdapter.kt
  feature/main/src/main/java/com/readme/android/main/ui/feed/FeedDetailActivity.kt
  feature/main/src/main/java/com/readme/android/main/ui/home/FilterBottomSheetFragment.kt
  feature/main/src/main/java/com/readme/android/main/ui/home/HomeFragment.kt
  feature/main/src/main/java/com/readme/android/main/ui/mypage/MyPageFragment.kt
  feature/main/src/main/java/com/readme/android/main/view/MoreBottomSheetDialog.kt
  feature/main/src/main/java/com/readme/android/main/viewmodel/DetailFeedViewModel.kt
  feature/main/src/main/res/layout/activity_feed_detail.xml
  feature/main/src/main/res/layout/item_feed.xml
  feature/main/src/main/res/values/strings.xml
  shared/build.gradle.kts
  shared/src/main/res/drawable-hdpi/img_book_none.png
  shared/src/main/res/drawable-mdpi/img_book_none.png
  shared/src/main/res/drawable-xhdpi/img_book_none.png
  shared/src/main/res/drawable-xxhdpi/img_book_none.png
  shared/src/main/res/drawable-xxxhdpi/img_book_none.png
  shared/src/main/res/layout/layout_book_information.xml
  shared/src/main/res/values/strings.xml
  shared/src/main/res/values/themes.xml
Labels: 효림🐇, pullRequest🔥, feat

#98 [feat] Feed_Write_Search / 네이버 book search api author null 처리 등등 (#94)
  data/src/main/java/com/readme/android/data/remote/mapper/NaverBookSearchMapper.kt
  data/src/main/java/com/readme/android/data/remote/model/response/NaverBookSearchResponse.kt
  data/src/main/java/com/readme/android/data/repository/BookSearchRepositoryImpl.kt
  feature/book-search/src/main/java/com/readme/android/book_search/BookSearchActivity.kt
  feature/book-search/src/main/res/layout/item_book_search.xml
Labels: 창환🐷, pullRequest🔥, feat

#99 [feat] Feed_Write_1 / ChooseCategoryFragment 작업 (#80)
  feature/main/src/main/java/com/readme/android/main/ui/home/FilterBottomSheetFragment.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/FeedWriteViewModel.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/ChooseCategoryFragment.kt
  feature/write-feed/src/main/res/layout/fragment_choose_category.xml
  shared/src/main/res/values/strings.xml
Labels: 창환🐷, pullRequest🔥, feat

#101 [feat] Feed_Write_2 / ImpressiveSentenceFragment 구현 (#100)
  feature/write-feed/build.gradle.kts
  feature/write-feed/src/main/java/com/readme/android/write_feed/FeedWriteViewModel.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/ChooseCategoryFragment.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/ImpressiveSentenceFragment.kt
  feature/write-feed/src/main/res/layout/fragment_choose_category.xml
  feature/write-feed/src/main/res/layout/fragment_impressive_sentence.xml
  shared/src/main/res/drawable/shape_rect_write_feed_gray_1_border_16.xml
  shared/src/main/res/layout/layout_book_information.xml
  shared/src/main/res/values/colors.xml
  shared/src/main/res/values/strings.xml
Labels: 창환🐷, pullRequest🔥, feat

#103 [feat] Feed_Write_3 / FeelingFragment 구현 (#102)
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/readme/android/navigator/MainNavigatorImpl.kt
  domain/src/main/java/com/readme/android/domain/entity/BookInfo.kt
  feature/write-feed/src/main/AndroidManifest.xml
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/ChooseCategoryFragment.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/FeelingFragment.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/ImpressiveSentenceFragment.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/postfeed/PostFeedActivity.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/postfeed/PostFeedViewModel.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/writefeed/FeedWriteActivity.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/writefeed/FeedWriteViewModel.kt
  feature/write-feed/src/main/res/layout/activity_feed_write.xml
  feature/write-feed/src/main/res/layout/activity_post_feed.xml
  feature/write-feed/src/main/res/layout/fragment_choose_category.xml
  feature/write-feed/src/main/res/layout/fragment_feeling.xml
  feature/write-feed/src/main/res/layout/fragment_impressive_sentence.xml
  shared/src/main/res/values/strings.xml
Labels: 창환🐷, pullRequest🔥, feat

#107 [feat] Feed / 피드 삭제 api 연동 (#105)
  data/src/main/java/com/readme/android/data/local/datasource/LocalPreferenceUserDataSource.kt
  data/src/main/java/com/readme/android/data/local/datasource/LocalPreferenceUserDataSourceImpl.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteFeedDataSource.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteFeedDataSourceImpl.kt
  data/src/main/java/com/readme/android/data/remote/mapper/HomeFeedMapper.kt
  data/src/main/java/com/readme/android/data/remote/model/response/Feed.kt
  data/src/main/java/com/readme/android/data/remote/model/response/LoginResponse.kt
  data/src/main/java/com/readme/android/data/remote/model/response/NoDataResponse.kt
  data/src/main/java/com/readme/android/data/remote/model/response/SignUpResponse.kt
  data/src/main/java/com/readme/android/data/remote/model/response/User.kt
  data/src/main/java/com/readme/android/data/remote/service/FeedService.kt
  data/src/main/java/com/readme/android/data/repository/FeedRepositoryImpl.kt
  data/src/main/java/com/readme/android/data/repository/LoginRepositoryImpl.kt
  data/src/main/java/com/readme/android/data/repository/SignUpRepositoryImpl.kt
  domain/src/main/java/com/readme/android/domain/entity/UserInfo.kt
  domain/src/main/java/com/readme/android/domain/entity/response/DomainLoginResponse.kt
  domain/src/main/java/com/readme/android/domain/entity/response/DomainNoDataResponse.kt
  domain/src/main/java/com/readme/android/domain/entity/response/DomainSignUpResponse.kt
  domain/src/main/java/com/readme/android/domain/repository/FeedRepository.kt
  domain/src/main/java/com/readme/android/domain/repository/LoginRepository.kt
  domain/src/main/java/com/readme/android/domain/repository/SignUpRepository.kt
  feature/auth/src/main/java/com/readme/android/auth/ui/LoginActivity.kt
  feature/auth/src/main/java/com/readme/android/auth/ui/LoginViewModel.kt
  feature/main/src/main/java/com/readme/android/main/ui/adapter/FeedAdapter.kt
  feature/main/src/main/java/com/readme/android/main/ui/feed/FeedDetailActivity.kt
  feature/main/src/main/java/com/readme/android/main/ui/home/FilterBottomSheetFragment.kt
  feature/main/src/main/java/com/readme/android/main/ui/home/HomeFragment.kt
  feature/main/src/main/java/com/readme/android/main/ui/mypage/MyPageFragment.kt
  feature/main/src/main/java/com/readme/android/main/view/MoreBottomSheetDialog.kt
  feature/main/src/main/java/com/readme/android/main/viewmodel/DetailFeedViewModel.kt
  feature/main/src/main/java/com/readme/android/main/viewmodel/FeedViewModel.kt
  feature/main/src/main/res/layout/fragment_home.xml
  feature/set-nick-name/src/main/java/com/readme/android/set_nick_name/SetNickNameActivity.kt
  feature/set-nick-name/src/main/java/com/readme/android/set_nick_name/SetNickNameViewModel.kt
  shared/src/main/res/values/strings.xml
Labels: 창환🐷, 효림🐇, pullRequest🔥, feat

#108 [feat] Feed_Write_4 / PostFeedActivity 구현 (#104)
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/readme/android/di/RemoteDataSourceModule.kt
  app/src/main/java/com/readme/android/di/RetrofitServiceModule.kt
  data/src/main/java/com/readme/android/data/remote/calladapter/NetworkState.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteFeedDataSource.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteFeedDataSourceImpl.kt
  data/src/main/java/com/readme/android/data/remote/model/request/PostFeedRequest.kt
  data/src/main/java/com/readme/android/data/remote/model/response/PostFeedResponse.kt
  data/src/main/java/com/readme/android/data/remote/service/FeedService.kt
  data/src/main/java/com/readme/android/data/repository/FeedWriteRepositoryImpl.kt
  domain/src/main/java/com/readme/android/domain/entity/request/DomainPostFeedRequest.kt
  domain/src/main/java/com/readme/android/domain/repository/FeedWriteRepository.kt
  feature/write-feed/src/main/AndroidManifest.xml
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/ChooseCategoryFragment.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/FeelingFragment.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/ImpressiveSentenceFragment.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/postfeed/PostFeedActivity.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/postfeed/PostFeedViewModel.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/postfeed/RegisterDoneActivity.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/writefeed/FeedWriteActivity.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/writefeed/FeedWriteViewModel.kt
  feature/write-feed/src/main/res/layout/activity_post_feed.xml
  feature/write-feed/src/main/res/layout/activity_register_done.xml
  feature/write-feed/src/main/res/layout/fragment_choose_category.xml
  feature/write-feed/src/main/res/layout/fragment_feeling.xml
  feature/write-feed/src/main/res/layout/fragment_impressive_sentence.xml
  shared/src/main/res/drawable-hdpi/ic_check.png
  shared/src/main/res/drawable-mdpi/ic_check.png
  shared/src/main/res/drawable-xhdpi/ic_check.png
  shared/src/main/res/drawable-xxhdpi/ic_check.png
  shared/src/main/res/drawable-xxxhdpi/ic_check.png
  shared/src/main/res/values/strings.xml
Labels: 창환🐷, pullRequest🔥, feat

#111 [feat] FeedWrite / 취소 다이얼로그 작업 (#110)
  feature/write-feed/src/main/java/com/readme/android/write_feed/fragments/WriteFeedDialogFragment.kt
  feature/write-feed/src/main/java/com/readme/android/write_feed/writefeed/FeedWriteActivity.kt
  feature/write-feed/src/main/res/layout/fragment_write_feed_dialog.xml
  shared/src/main/res/drawable-hdpi/ic_alert.png
  shared/src/main/res/drawable-mdpi/ic_alert.png
  shared/src/main/res/drawable-xhdpi/ic_alert.png
  shared/src/main/res/drawable-xxhdpi/ic_alert.png
  shared/src/main/res/drawable-xxxhdpi/ic_alert.png
  shared/src/main/res/drawable/shape_rect_white_fill_14.xml
  shared/src/main/res/values/strings.xml
Labels: 창환🐷, pullRequest🔥, feat
