Repository TEAM-README/Readme-AOS, pull requests merged in 2022-06, with the labels that each got.

#57 [feat] Login / 로그인 UI 짜기 (#47)
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/readme/android/LoginActivity.kt
  app/src/main/res/drawable-hdpi/img_naver.png
  app/src/main/res/drawable-mdpi/img_naver.png
  app/src/main/res/drawable-xhdpi/img_naver.png
  app/src/main/res/drawable-xxhdpi/img_naver.png
  app/src/main/res/drawable-xxxhdpi/img_naver.png
  app/src/main/res/drawable/ic_kakao.xml
  app/src/main/res/drawable/shape_rect_kakao_yellow_fill_5.xml
  app/src/main/res/drawable/shape_rect_naver_green_fill_5.xml
  app/src/main/res/layout/activity_login.xml
  shared/src/main/res/drawable/ic_logo_big.xml
  shared/src/main/res/values/colors.xml
  shared/src/main/res/values/strings.xml
Labels: 다빈 😂, ui

#60 [feat] 모듈간 화면전환을 위한 네비게이터 로직 추가
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/readme/android/di/NavigatorModule.kt
  app/src/main/java/com/readme/android/navigator/MainNavigatorImpl.kt
  buildSrc/src/main/kotlin/Versions.kt
  core-ui/src/main/java/com/readme/android/core_ui/ext/ContextExtension.kt
  feature/auth/.gitignore
  feature/auth/build.gradle.kts
  feature/auth/consumer-rules.pro
  feature/auth/proguard-rules.pro
  feature/auth/src/androidTest/java/com/readme/android/auth/ExampleInstrumentedTest.kt
  feature/auth/src/main/AndroidManifest.xml
  feature/auth/src/main/java/com/readme/android/auth/ui/LoginActivity.kt
  feature/auth/src/main/res/drawable-hdpi/img_naver.png
  feature/auth/src/main/res/drawable-mdpi/img_naver.png
  feature/auth/src/main/res/drawable-xhdpi/img_naver.png
  feature/auth/src/main/res/drawable-xxhdpi/img_naver.png
  feature/auth/src/main/res/drawable-xxxhdpi/img_naver.png
  feature/auth/src/main/res/drawable/ic_kakao.xml
  feature/auth/src/main/res/drawable/shape_rect_kakao_yellow_fill_5.xml
  feature/auth/src/main/res/drawable/shape_rect_naver_green_fill_5.xml
  feature/auth/src/main/res/layout/activity_login.xml
  feature/auth/src/test/java/com/readme/android/auth/ExampleUnitTest.kt
  navigator/.gitignore
  navigator/build.gradle.kts
  navigator/consumer-rules.pro
  navigator/proguard-rules.pro
  navigator/src/androidTest/java/com/readme/android/navigator/ExampleInstrumentedTest.kt
  navigator/src/main/AndroidManifest.xml
  navigator/src/main/java/com/readme/android/navigator/Navigator.kt
  navigator/src/test/java/com/readme/android/navigator/ExampleUnitTest.kt
  settings.gradle.kts
Labels: 다빈 😂, feat

#62 [feat] Login / 네이버 로그인 로직 붙이기 (#58,61)
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/readme/android/di/LocalDataSourceModule.kt
  app/src/main/java/com/readme/android/di/LocalPreferencesModule.kt
  app/src/main/java/com/readme/android/di/RemoteDataSourceModule.kt
  app/src/main/java/com/readme/android/di/RepositoryModule.kt
  app/src/main/java/com/readme/android/di/RetrofitModule.kt
  app/src/main/java/com/readme/android/di/RetrofitServiceModule.kt
  app/src/main/java/com/readme/android/navigator/MainNavigatorImpl.kt
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  core-ui/build.gradle.kts
  core-ui/src/main/java/com/readme/android/core_ui/base/BaseViewModel.kt
  core-ui/src/main/java/com/readme/android/core_ui/base/BindingActivity.kt
  core-ui/src/main/java/com/readme/android/core_ui/util/Event.kt
  core-ui/src/main/java/com/readme/android/core_ui/util/EventObserver.kt
  core-ui/src/main/java/com/readme/android/core_ui/util/Injector.kt
  data/src/main/java/com/readme/android/data/local/datasource/LocalPreferenceUserDataSource.kt
  data/src/main/java/com/readme/android/data/local/datasource/LocalPreferenceUserDataSourceImpl.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteLoginDataSource.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteLoginDataSourceImpl.kt
  data/src/main/java/com/readme/android/data/remote/model/request/LoginRequest.kt
  data/src/main/java/com/readme/android/data/remote/model/response/BaseResponse.kt
  data/src/main/java/com/readme/android/data/remote/model/response/LoginResponse.kt
  data/src/main/java/com/readme/android/data/remote/service/LoginService.kt
  data/src/main/java/com/readme/android/data/repository/BookSearchRepositoryImpl.kt
  data/src/main/java/com/readme/android/data/repository/LoginRepositoryImpl.kt
  domain/src/main/java/com/readme/android/domain/entity/request/DomainLoginRequest.kt
  domain/src/main/java/com/readme/android/domain/entity/response/DomainLoginResponse.kt
  domain/src/main/java/com/readme/android/domain/repository/LoginRepository.kt
  feature/auth/build.gradle.kts
  feature/auth/src/main/AndroidManifest.xml
  feature/auth/src/main/java/com/readme/android/auth/ui/LoginActivity.kt
  feature/auth/src/main/java/com/readme/android/auth/ui/LoginViewModel.kt
  feature/set-nick-name/src/main/java/com/readme/android/set_nick_name/SetNickNameActivity.kt
  feature/set-nick-name/src/main/java/com/readme/android/set_nick_name/SetNickNameViewModel.kt
  navigator/src/main/java/com/readme/android/navigator/Navigator.kt
Labels: 창환🐷, pullRequest🔥, feat

#64 [feat] NickName / 닉네임 중복확인 붙이기, 기존 상수들 Enum으로 리펙토링 (#63)
  app/src/main/java/com/readme/android/di/RemoteDataSourceModule.kt
  app/src/main/java/com/readme/android/di/RepositoryModule.kt
  app/src/main/java/com/readme/android/di/RetrofitServiceModule.kt
  core-ui/src/main/java/com/readme/android/core_ui/constant/SetNickNameConstant.kt
  core-ui/src/main/java/com/readme/android/core_ui/util/BindingAdapters.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteSignUpDataSource.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteSignUpDataSourceImpl.kt
  data/src/main/java/com/readme/android/data/remote/model/response/CheckDuplicateNickNameResponse.kt
  data/src/main/java/com/readme/android/data/remote/service/CheckDuplicateNickNameService.kt
  data/src/main/java/com/readme/android/data/repository/SignUpRepositoryImpl.kt
  domain/src/main/java/com/readme/android/domain/repository/SignUpRepository.kt
  feature/set-nick-name/build.gradle.kts
  feature/set-nick-name/src/main/java/com/readme/android/set_nick_name/SetNickNameActivity.kt
  feature/set-nick-name/src/main/java/com/readme/android/set_nick_name/SetNickNameViewModel.kt
  feature/set-nick-name/src/main/res/layout/activity_set_nick_name.xml
Labels: 창환🐷, pullRequest🔥, feat

#65 [feat] Login / 네이버 소셜로그인 회원가입 로직 추가 (#53)
  app/src/main/java/com/readme/android/di/RetrofitServiceModule.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteSignUpDataSource.kt
  data/src/main/java/com/readme/android/data/remote/datasource/RemoteSignUpDataSourceImpl.kt
  data/src/main/java/com/readme/android/data/remote/model/request/SignUpRequest.kt
  data/src/main/java/com/readme/android/data/remote/model/response/SignUpResponse.kt
  data/src/main/java/com/readme/android/data/remote/service/SignUpService.kt
  data/src/main/java/com/readme/android/data/repository/LoginRepositoryImpl.kt
  data/src/main/java/com/readme/android/data/repository/SignUpRepositoryImpl.kt
  domain/src/main/java/com/readme/android/domain/entity/request/DomainSignUpRequest.kt
  domain/src/main/java/com/readme/android/domain/repository/LoginRepository.kt
  domain/src/main/java/com/readme/android/domain/repository/SignUpRepository.kt
  feature/set-nick-name/build.gradle.kts
  feature/set-nick-name/src/main/java/com/readme/android/set_nick_name/SetNickNameActivity.kt
  feature/set-nick-name/src/main/java/com/readme/android/set_nick_name/SetNickNameViewModel.kt
Labels: 창환🐷, pullRequest🔥, feat

#67 [feat] Feed_Write_Search / isbn, subsibn data에 추가 (#48)
  data/src/main/java/com/readme/android/data/remote/mapper/NaverBookSearchMapper.kt
  domain/src/main/java/com/readme/android/domain/entity/BookInfo.kt
Labels: 창환🐷, pullRequest🔥, feat

#70 [chore] 싱글 클릭 리스너 유틸 추가 (#69)
  core-ui/src/main/java/com/readme/android/core_ui/ext/ViewExtension.kt
Labels: 다빈 😂, pullRequest🔥, chore

#71 [feat] Login / 자동로그인 로직 추가 (#66)
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/readme/android/MainActivity.kt
  data/src/main/java/com/readme/android/data/repository/LoginRepositoryImpl.kt
  domain/src/main/java/com/readme/android/domain/repository/LoginRepository.kt
  feature/auth/build.gradle.kts
  feature/auth/src/main/java/com/readme/android/auth/ui/AutoLoginConstant.kt
  feature/auth/src/main/java/com/readme/android/auth/ui/LoginActivity.kt
  feature/auth/src/main/java/com/readme/android/auth/ui/LoginViewModel.kt
  shared/src/main/res/values/themes.xml
Labels: 창환🐷, pullRequest🔥, feat

#73 [feat] 버튼 중복 클릭막기 #72
  core-ui/src/main/java/com/readme/android/core_ui/ext/ViewExtension.kt
  feature/auth/src/main/java/com/readme/android/auth/ui/LoginActivity.kt
  feature/book-search/build.gradle.kts
  feature/book-search/src/main/java/com/readme/android/book_search/BookSearchActivity.kt
  feature/set-nick-name/src/main/java/com/readme/android/set_nick_name/SetNickNameActivity.kt
  feature/write-feed/build.gradle.kts
Labels: 창환🐷, pullRequest🔥, feat
